{#
/**
 * @file establishment.html.twig
 * Default theme implementation to present Establishment data.
 *
 * This template is used when viewing Establishment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_establishment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('establishment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
