<div class="container-spec">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui clearing segment">
                <div id="picture">
                    <img class="ui small circular image" src="http://www.youssefs-hairdressing.com/wp-content/uploads/2013/12/barber-gallery-7.jpg">
                    </img>
                </div>
                <div class="centered" id="menu">
                    <div class="ui centered grid">
                        <div class="center aligned column">
                            <div class="ui secondary pointing menu">
                                <a class="item">
                                    Informations
                                </a>
                                <a class="item">
                                    Carte
                                </a>
                                <a class="item">
                                    Description
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- gird-->
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div class="column" id="profileData">
                    <div class="ui cards ">
                        <div class="ui card half" style="
                             width: 48%;    height: 33vh ">
                            <i class="euro icon large">
                            </i>
                            Prix
                        </div>
                        <div class="ui card half" style="
                             width: 48%;     height: 33vh">
                            <i class="credit card alternative icon large">
                            </i>
                            Moyens de paiements
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div id="form">
                </div>
            </div>
        </div>
    </div>
    <!-- gird-->
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div id="address">
                </div>
                <div id="map">
                </div>
            </div>
        </div>
    </div>
    <!-- gird-->
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div id="title">
                </div>
                <div id="description">
                </div>
            </div>
        </div>
    </div>
    <!-- gird-->
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui clearing segment" style=" height: 36vh;">
                <div id="more-info">
                </div>
            </div>
        </div>
    </div>
    <!-- gird-->
</div>