<!DOCTYPE html>
<html data-ng-app="doc" id="ng-app" lang="fr">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <body class="static_pages homepage">
        <section class="homepage-b2b-features">
            <div class="row-padding-1 row-center">
                <h3 class="homepage-b2b-features-title">Vous êtes Coiffeur  ?
                    <br />
                    Découvrez la prise de rendez-vous en ligne !</h3>
                <div class="b2b-features">
                    <div class="b2b-section-content">
                        <div class="b2b-features-list">
                            <a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueSaveTime" href="#">
                                <div class="b2b-features-item-icon b2b-features-item-icon-phone">
                                    <svg
                                        version="1.1"
                                        id="phone-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 115 115"
                                        >
                                    <style type="text/css">
                                        .phone-icon-body {
                                            fill: #fff;
                                        }

                                        .phone-icon-speaker-small {
                                            fill: #fff;
                                        }

                                        .phone-icon-speaker-large {
                                            fill: #cAd1d8;
                                        }

                                        .phone-icon-reflect {
                                            opacity: 0.2;
                                            fill: #eaeaea;
                                        }

                                        .phone-icon-touch {
                                            fill: #CAD1D8;
                                        }

                                        .phone-icon-screen {
                                            opacity: 0.3;
                                            fill: #CAD1D8;
                                        }

                                        .phone-icon-eye {
                                            fill: #ABB8C4;
                                            transform-origin: center;
                                            transform: rotate(0);
                                            will-change: transform;
                                        }

                                        .phone-icon-mouth {
                                            fill: #ABB8C4;
                                        }

                                        .phone-icon-phone {
                                            transform-origin: center 80%;
                                            transform: rotate(0);
                                            will-change: transform;
                                        }
                                    </style>
                                    <g class="phone-icon-phone">
                                    <path class="phone-icon-body" d="M75.2,134.3c0,3.9-1,6.8-5.7,6.8H42.4c-3.8,0-5.5-2.9-5.5-6.3V37.2c0-2.3,0.5-3.5,4.5-3.5h30.3
                                          c2.3,0,3.5-0.1,3.5,3.2V134.3z"/>
                                    <circle class="phone-icon-speaker-large" cx="57.5" cy="45.9" r="6.1"/>
                                    <circle class="phone-icon-speaker-small" cx="57.5" cy="45.9" r="1.1"/>
                                    <path class="phone-icon-reflect" d="M71.4,33.7l-29,107.4h27.2c4.7,0,5.7-2.9,5.7-6.8V36.9C75.2,33.5,73.7,33.7,71.4,33.7z"/>
                                    <circle class="phone-icon-touch" cx="47.5" cy="100.4" r="2.4"/>
                                    <circle class="phone-icon-touch" cx="57.3" cy="100.4" r="2.4"/>
                                    <circle class="phone-icon-touch" cx="67.1" cy="100.4" r="2.4"/>
                                    <circle class="phone-icon-touch" cx="47.5" cy="109.6" r="2.4"/>
                                    <circle class="phone-icon-touch" cx="57.3" cy="109.6" r="2.4"/>
                                    <circle class="phone-icon-touch" cx="67.1" cy="109.6" r="2.4"/>
                                    <path class="phone-icon-screen" d="M70.9,71.4c0,3.2-2.6,5.8-5.8,5.8H47.7c-3.2,0-5.8-2.6-5.8-5.8v-6.3c0-3.2,2.6-5.8,5.8-5.8h17.4
                                          c3.2,0,5.8,2.6,5.8,5.8V71.4z"/>
                                    <path id="phone-icon-left-eye" class="phone-icon-eye" d="M50.5,74.6c0,0.5-0.3,0.9-0.9,0.9l0,0c-0.5,0-0.9-0.3-0.9-0.9v-2.6c0-0.5,0.3-0.9,0.9-0.9l0,0
                                          c0.5,0,0.9,0.3,0.9,0.9V74.6z"/>
                                    <path id="phone-icon-right-eye" class="phone-icon-eye" d="M63.3,74.6c0,0.5-0.3,0.9-0.9,0.9l0,0c-0.5,0-0.9-0.3-0.9-0.9v-2.6c0-0.5,0.3-0.9,0.9-0.9l0,0
                                          c0.5,0,0.9,0.3,0.9,0.9V74.6z"/>
                                    <path class="phone-icon-mouth" d="M46.1,84.8c5.4,5.9,16.5,6.6,21.6-0.1c0.7-0.9-0.9-1.7-1.4-0.9c-4.3,5.9-14.3,4.8-18.8-0.3
                                          C46.5,82.7,45.4,84,46.1,84.8L46.1,84.8z"/>
                                    </g>
                                    </svg>
                                </div><h3 class="b2b-features-item-title">Gagnez 30% de temps de secrétariat</h3></a><a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueReduceNonAttendance" href="#">
                                <div class="b2b-features-item-icon b2b-features-item-icon-message">
                                    <svg
                                        version="1.1"
                                        id="message-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 115 115"
                                        >
                                    <style type="text/css">
                                        .message-icon-envelope-bg {
                                            fill: #fff;
                                        }

                                        .message-icon-envelope-content {
                                            fill: #e2dfdc;
                                            opacity: 0.5;
                                        }

                                        .message-icon-envelope-top {
                                            fill: #fff;
                                        }

                                        .message-icon-bubble {
                                            will-change: transform;
                                            transform: scale(1);
                                            transform-origin: center;
                                        }

                                        .message-icon-bubble-bg {
                                            fill: #ec6465;
                                        }

                                        .message-icon-bubble-text {
                                            fill: #fff;
                                        }
                                    </style>
                                    <path class="message-icon-envelope-bg" d="M56.6,61.6L56.6,61.6L56.6,61.6l0.3-0.1L30.1,40.8v32c0,1.9,0.9,2.5,2.2,2.5h50.4c1.2,0,2.2-0.9,2.3-2.1V40.6
                                          l-27.9,21H56.6z"/>
                                    <path class="message-icon-envelope-content" d="M57.7,63.6L33.5,46v23.4c0,0.8,0,2.4,2,2.4h44.8c0.6,0.1,1.2-0.3,1.3-0.9c0-0.1,0-0.1,0-0.2V45.8L57.7,63.6"/>
                                    <polygon class="message-icon-envelope-top" points="30.4,40.3 30.5,43.5 58.1,64.1 84.9,43.1 84.9,40.3"/>
                                    <g class="message-icon-bubble">
                                    <circle class="message-icon-bubble-bg" cx="84.6" cy="40.7" r="15.4"/>
                                    <path class="message-icon-bubble-text" d="M87.3,48.5h-2.9V37.3l-3.6,1.9v-2.7l4.7-2.7h1.9V48.5z"/>
                                    </g>
                                    </svg>
                                </div><h3 class="b2b-features-item-title">Réduisez de 75% vos rendez‑vous non honorés</h3></a><a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueNewPatients" href="#">
                                <div class="b2b-features-item-icon b2b-features-item-icon-map">
                                    <svg
                                        version="1.1"
                                        id="map-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 115 115"
                                        >
                                    <style type="text/css">
                                        .map-icon-marker-bg {
                                            fill: #fff;
                                        }

                                        .map-icon-marker-gradient {
                                            opacity: 0.6;
                                            fill: url(#map-icon-pink-gradient);
                                        }

                                        .map-icon-path {
                                            fill: none;
                                            stroke: #B21835;
                                            stroke-width: 3;
                                            stroke-dasharray: 7;
                                        }

                                        .map-icon-marker {
                                            will-change: transform;
                                            transform: translateY(0);
                                            transform-origin: center;
                                        }

                                        .map-icon-marker-shadow {
                                            fill: #D83D50;
                                            transform-origin: center;
                                            transform: scale(1);
                                            will-change: transform;
                                        }
                                    </style>
                                    <linearGradient id="map-icon-pink-gradient" gradientUnits="userSpaceOnUse" x1="46.6248" y1="31.2882" x2="46.6248" y2="94.1922" gradientTransform="matrix(1 0 0 -1 0 116)">
                                    <stop offset="0" style="stop-color:#FF00FF;stop-opacity:0.5"/>
                                    <stop offset="0.9958" style="stop-color:#FFFFFF;stop-opacity:0"/>
                                    </linearGradient>
                                    <path class="map-icon-path" d="m4.87499,98.12138c41.44271,-23.06159 52.62411,19.85419 103.70259,-4.92506" />
                                    <g class="map-icon-marker">
                                    <path class="map-icon-marker-bg" d="M57,20c-10.7,0-19.5,8.7-19.5,19.5C37.5,57.7,54.9,77,57,77c2.4,0,19.5-20.4,19.5-37.6
                                          C76.5,28.7,67.8,20,57,20z M57.3,46.5c-4.6,0-8.3-3.7-8.3-8.3s3.7-8.3,8.3-8.3s8.3,3.7,8.3,8.3S61.9,46.5,57.3,46.5z"/>
                                    <path class="map-icon-marker-gradient" d="M57.6,29.9l0.1-9.8c0,0-0.2,0-0.4,0c-10.8,0-19.6,8.1-19.8,19.6C37.4,57.6,54.9,77,57,77c0.1,0,0.3,0,0.3-0.1
                                          l0.2-30.3c0,0-0.2,0-0.3,0c-4.6,0-8.3-3.8-8.3-8.3S52.3,29.9,57.6,29.9z"/>
                                    </g>
                                    <ellipse class="map-icon-marker-shadow" cx="57.2" cy="84.1" rx="8.5" ry="2.4"/>
                                    </svg>
                                </div><h3 class="b2b-features-item-title">Renouvelez votre patientèle selon vos besoins</h3></a><a class="b2b-features-item b2b-features-item-size-normal" data-analytics-event-category="b2b" data-analytics-event-label="valueNewService" href="#">
                                <div class="b2b-features-item-icon b2b-features-item-icon-star">
                                    <svg
                                        version="1.1"
                                        id="star-icon"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 115 115"
                                        >
                                    <style type="text/css">
                                        .star-icon-star-dot {
                                            fill: #FFFFFF;
                                            stroke: #F4F4D7;
                                            stroke-width: 0.25;
                                            stroke-miterlimit: 10;
                                        }

                                        .star-icon-star-dot {
                                            opacity: 0.3;
                                            transform-origin: center;
                                            transform: scale(1);
                                            will-change: transform, opacity;
                                        }

                                        .star-icon-circle-star {
                                            fill: #03BBDF;
                                            opacity: 1;
                                            transform-origin: center;
                                            transform: scale(1);
                                            will-change: transform, opacity;
                                        }

                                        .star-icon-star {
                                            fill: #FFE59C;
                                            transform-origin: center;
                                            transform: scale(1);
                                            will-change: transform;
                                        }
                                    </style>
                                    <ellipse class="star-icon-star-dot" cx="89.5" cy="6" rx="0.8" ry="0.7"/>
                                    <ellipse class="star-icon-star-dot" cx="76.9" cy="30.9" rx="0.6" ry="0.5"/>
                                    <ellipse class="star-icon-star-dot" cx="75.7" cy="15.5" rx="1" ry="0.9"/>
                                    <ellipse class="star-icon-star-dot" cx="105.8" cy="88.1" rx="1" ry="0.9"/>
                                    <ellipse class="star-icon-star-dot" cx="81.9" cy="102.4" rx="0.6" ry="0.6"/>
                                    <ellipse class="star-icon-star-dot" cx="98.2" cy="54.7" rx="1.2" ry="1.1"/>
                                    <ellipse class="star-icon-star-dot" cx="23.2" cy="80" rx="0.7" ry="0.7"/>
                                    <ellipse class="star-icon-star-dot" cx="23.9" cy="25.9" rx="0.9" ry="0.9"/>
                                    <ellipse class="star-icon-star-dot" cx="53.4" cy="101.2" rx="1.1" ry="1.1"/>
                                    <circle class="star-icon-circle-star" cx="57.5" cy="57.5" r="10" />
                                    <polygon class="star-icon-star" points="89,51 68.8,45 57.2,24.9 45.6,45 26,49.1 40.1,64.2 37,84 57.3,75.2 76.1,84 74.5,64.3"/>
                                    </svg>
                                </div><h3 class="b2b-features-item-title">Apportez un service nouveau pour vos clients</h3></a>
                        </div>
                    </div>
                </div><a class="dl-button-primary dl-button dl-button-size-normal homepage-b2b-features-cta" href="#"><span class="dl-button-label">En savoir plus</span></a>
            </div>
        </section>
        <section class="b2b-notoriety">
            <div class="b2b-notoriety-kpis">
                <div class="b2b-notoriety-item">
                    <div class="b2b-notoriety-value">
                        23 000
                    </div>
                    <div class="b2b-notoriety-label">
                        Coiffeurs
                    </div>
                </div>
                <div class="b2b-notoriety-item">
                    <div class="b2b-notoriety-value">
                        650
                    </div>
                    <div class="b2b-notoriety-label">
                        Salon de coiffure
                    </div>
                </div>
                <div class="b2b-notoriety-item">
                    <div class="b2b-notoriety-value">
                        8,5 millions
                    </div>
                    <div class="b2b-notoriety-label">
                        de visites par mois
                    </div>
                </div>
            </div>
        </section><section class="homepage-press">

        </section>
        <section class="row-center row-padding-1">
            <div class="homepage-jobs">
                <p>
                    Befab recrute <strong>150 collaborateurs</strong>
                </p><a class="dl-button-primary dl-button dl-button-size-normal" href="#"><span class="dl-button-label">Rejoignez nous</span></a>
            </div>
        </section>
        <section class="homepage-social row-padding-1 row-center">
            <div class="homepage-social-block col-6 col-padding">
                <div class="icon facebook front-icon-facebook"></div><a class="text" href="https://www.facebook.com/Befab" target="_blank"><span>Suivez-nous sur Facebook</span><span>11606 likes</span></a>
            </div>
            <div class="homepage-social-block col-6 col-padding">
                <div class="icon twitter front-icon-twitter"></div><a class="text" href="https://twitter.com/Befab" target="_blank"><span>Suivez-nous sur Twitter</span><span>3778 followers</span></a>
            </div>
        </section>
    </div>

    <div class="container-full dark support_help help-b2c">
        <div class="container text-center">
            <h3>Une question ? Besoin d&#39;aide ?</h3><a class="help" href="#">Consultez notre aide en ligne ou contactez-nous</a>
        </div>
    </div>

    
</body>

</html>